<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Formulário</title>
</head>
<body>
<h1>Formulário</h1>

<form action="#" th:action="@{/api/produtos}" th:object="${produto}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Nome: <input type="text" th:field="*{nome}" /></p>
        <p><input type="submit" value="Salvar" /> <input type="reset" value="Limpar" /></p>
    </form>

</body>
</html>