<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Formulário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div class="formProduto">
	
		<form class="container" method="post">
			Nome: <input type="text" value="" name="nome"/>
			Preço: <input type="text" value="" name="preco"/>
			Desconto: <input type="text" value="" name="desconto"/>
			
			<button type="submit">Salvar</button>
		
		</form>
	</div>
</body>


</html>